* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white; }

.main-container .buttons .start-btn, .main-container .buttons .extra-card {
  background-color: #5ab15a;
  width: 150px;
  border: 1px solid #5ab15a;
  width: 150px;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.7s;
  font-weight: bold;
  margin-top: 5px; }

.main-container .div .cards-el, .main-container .div .sum-el {
  border: 2px solid #3c7a3c;
  border-radius: 5px;
  padding: 5px 10px;
  width: 150px; }

body {
  width: 100%; }

.main-container {
  background-image: url(../recourses/images/pano2.avif);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100vh;
  opacity: 0.9;
  padding-bottom: 20px; }
  .main-container img {
    margin-top: 20px; }
  .main-container .div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-container .div .sum-el {
      width: 100px; }
  .main-container .buttons {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-container .buttons .start-btn:hover {
      background-color: white;
      color: black; }
    .main-container .buttons .extra-card {
      display: none; }
    .main-container .buttons .extra-card:hover {
      background-color: white;
      color: black; }
  .main-container h1 {
    margin: 20px; }
  .main-container h2 {
    margin: 20px; }
  .main-container h3 {
    margin: 20px; }
  .main-container p {
    margin: 20px; }
